body {
    background-color: #F0F0F0;
}

.circle {
    width: 90px;
    height: 90px;
    line-height: 70px;
    font-size: .75rem;
    border-radius: 50%;
    border: 7px solid #FFF;
    color: #fff;
    text-align: center;
    background: #000;
    font-weight: bold;
}

.red{
    background-color:#E6563B;
}
.blue{
    background-color:#00ABA9;
}

.green{
    background-color:#7CB06C;
}

.orange{
    background-color:#EB9D3A;
}
.jt-images {
    width: 100%;
    border: 7px solid #E6E6E6;
}
.small-circle {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: .75rem;
    border-radius: 50%;
    color: #000;
    text-align: center;
    font-weight: bold;
}





