:root {
    --bs-breakpoint-md: 800px;
}
body {
    background-color: #F0F0F0;
    font-family: 'Abel', sans-serif;
}

.circle {
    width: 90px;
    height: 90px;
    line-height: 70px;
    font-size: 1rem;
    border-radius: 50%;
    border: 7px solid #FFF;
    color: #fff;
    text-align: center;
    background: #000;
    font-family: 'Anton', sans-serif;
}

.red{
    background-color:#E6563B;
}
.blue{
    background-color:#00ABA9;
}

.green{
    background-color:#7CB06C;
}

.orange{
    background-color:#EB9D3A;
}
.images-custom {
    width: 100%;
    height: 100%;
    border: 7px solid #E6E6E6;
}
.small-circle {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: .75rem;
    border-radius: 50%;
    color: #000;
    text-align: center;
    font-weight: bold;
}

.circles-wrapper {
    max-width: 100%;
}

.small-img {
    width: 4rem;
    height: 4rem;
    border: 3px solid #E6E6E6;
}
.lighter-text {
    font-weight: lighter;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Anton', sans-serif;
}

@media screen and (max-width: 768px) {
    .hidden {
        display: none;
    }

}
@media screen and (max-width: 576px) {
    .circles-wrapper {
        max-width: 220px;
    }
    .hero {
        border: 0px !important;
    }
}
